.header {

}

.body {
background-color: aliceblue



}

.my-headshot {
    float: left;
    height: 200px;
    padding-right: 15px;
    width: 200px;
    
}

.footer {
    float: center;
    padding-top: 300px


}